:root {
    --salmon: #ff887d;
    --black: #272727;
}

html {
    box-sizing: border-box;

}

body {
    margin: 0px;
    font-family: monospace;
}



/*  Main Header Begins */

.header-container {
    color: var(--black);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--salmon);
    min-height: 100vh;
    margin: 0px;
}

.header-item-title h1{
    margin: 0px;
    font-size: 7vw;
}

.header-item-description p{
    margin: 0px;
    font-size: 3vw;
}

.header-item-links {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: space-between;
    max-width: auto;
}

.header-item-links a{
    margin: 2vw;
    font-size: 3vw;
    color:  var(--black);
    text-decoration: none;
    font-weight: bolder;
}

/* Main Header Ends */



/* Main Nav Begins */

.main-nav {
    position:sticky;
    top: 0px;
}

.main-nav-flexbox {
    background-color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.main-nav-flexbox a {
    color: var(--black);
    text-decoration: none;
    padding: 20px;
    font-size: 3vw;
}

.main-nav-flexbox a:hover {
    transition: .4s;
    color: var(--salmon);
    background-color: rgb(78, 78, 78);
    padding: 20px;
    font-weight: bold;
}

/* Main Nav Ends */



/* Main Begins */

main {

}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}

.content {
}

.content-article {
    margin: 20px 0;
    background-color: var(--salmon);
    max-height: 10vh;
    padding: 20px 20px 20px 20px;
}

.content-article h2 {
    font-size: 2.5vw;
    margin: 0px;
}

.content-article p {
    font-size: 2vw;
    margin: 0px;
}

/* Main Ends */



/* Footer */

footer {
    background-color: darkgray;
    color: var(--black);
    text-align: center;
    padding: 10px;
    font-size: 2vw;
}
