:root {
    --salmon: #ff887d;
    --black: #272727;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}



/*  Main Header Begins */

.main-header {
    color: var(--black);
}

.main-header-background {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: space-around;
    text-align: center; 
    flex-wrap: wrap; 
    background-color: var(--salmon);
    min-height: 101vh;
}

.main-header-description{
    
}

.main-header-description h1 {
    margin: 0 20px;
    font-size: 9em;
    text-align: center;    
}

.main-header-description p {
    margin: 0 45px;
    font-size: 4em;
}

.main-header-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    font-size: 35px;
    
}

.main-header-links a{
    margin: 20px 20px;
    color:  var(--black);
    text-decoration: none;
    font-weight: bolder;
}

/* Main Header Ends */



/* Main Nav Begins */

.main-nav {
    position:sticky;
    top: 0px;
}

.main-nav-flexbox {
    background-color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-flexbox a {
    color: var(--black);
    text-decoration: none;
    padding: 30px 50px 30px 50px;
    font-size: 30px;
}

.main-nav-flexbox a:hover {
    transition: .4s;
    color: var(--salmon);
    background-color: rgb(78, 78, 78);
    padding: 30px 50px 30px 50px;
    font-weight: bold;
}

/* Main Nav Ends */



/* Main Begins */

main {

}

.content-container {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content {
    padding: 80px 100px 50px 100px;
    display: flex;
    flex-direction: column;
}

.content-article {
    background-color: var(--salmon);
    margin: 0px 0px 20px 0px;
    height: 35vh;
    padding: 30px 20px 20px 20px;
}

.content-article h2 {
    font-size: 30px;
    margin: 0px;
}

/* Main Ends */



/* Footer */

footer {
    background-color: darkgray;
    color: var(--black);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
